input_libretro_device_p1 = "513"
input_player1_select = "rshift"
input_player1_start = "enter"
input_player1_y = "a"
input_player1_b = "z"
input_player1_a = "x"
# Prevent ordinary gameplay keys from changing emulation speed.
input_toggle_fast_forward = "nul"
input_hold_fast_forward = "nul"
input_toggle_slowmotion = "nul"
input_hold_slowmotion = "nul"
fastforward_ratio = "1.000000"
slowmotion_ratio = "1.000000"
audio_sync = "true"
video_vsync = "true"
video_threaded = "false"
video_swap_interval = "1"
